In [1]:
import pandas as pd
import glob
import os

In [2]:
path = r'C:\Users\mdlin\Documents\Github\Portland-Crime\data'

In [3]:
# Grab all csvs from folder and concat into one dataframe.
all_files = glob.glob(os.path.join(path, "*.csv"))
df = pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True)

In [4]:
# Convert ReportDate from object to DateTime so we can check min/max.
df['ReportDate'] = pd.to_datetime(df['ReportDate'])
df['OccurDate'] = pd.to_datetime(df['ReportDate'])

In [5]:
# Select columns that we want.

df = df[['Address',
 'CaseNumber',
 'CrimeAgainst',
 'Neighborhood',
 'OccurDate',
 'OccurTime',
 'OffenseCategory',
 'OffenseType',
 'OpenDataLat',
 'OpenDataLon',
 'OpenDataX',
 'OpenDataY',
 'ReportDate',
 'OffenseCount']]

In [6]:
# Check import size/dates.
rows = str(df.shape)
min = str(df['ReportDate'].min())
max = str(df['ReportDate'].max())

print ("Df Shape: " + rows + "\nMin Date: " + min + "\nMax Date: " + max)

Df Shape: (499915, 14)
Min Date: 2015-05-01 00:00:00
Max Date: 2023-06-30 00:00:00

In [7]:
df.dtypes

Address                    object
CaseNumber                 object
CrimeAgainst               object
Neighborhood               object
OccurDate          datetime64[ns]
OccurTime                   int64
OffenseCategory            object
OffenseType                object
OpenDataLat               float64
OpenDataLon               float64
OpenDataX                 float64
OpenDataY                 float64
ReportDate         datetime64[ns]
OffenseCount                int64
dtype: object

In [8]:
df.head()

,Address,CaseNumber,CrimeAgainst,Neighborhood,OccurDate,OccurTime,OffenseCategory,OffenseType,OpenDataLat,OpenDataLon,OpenDataX,OpenDataY,ReportDate,OffenseCount
0,NaN,15-X197430,Person,Piedmont,2015-05-12,1400,Assault Offenses,Intimidation,NaN,NaN,NaN,NaN,2015-05-12,1
1,NaN,15-X4282999,Person,Buckman West,2015-05-01,2143,Assault Offenses,Simple Assault,NaN,NaN,NaN,NaN,2015-05-01,1
2,NaN,15-X4283033,Person,University Park,2015-05-01,1625,Assault Offenses,Simple Assault,NaN,NaN,NaN,NaN,2015-05-01,1
3,NaN,15-X4283218,Person,Madison South,2015-05-01,1820,Assault Offenses,Simple Assault,NaN,NaN,NaN,NaN,2015-05-01,1
4,NaN,15-X4283218,Person,Madison South,2015-05-01,1820,Kidnapping/Abduction,Kidnapping/Abduction,NaN,NaN,NaN,NaN,2015-05-01,1

In [9]:
df.to_csv('./output/output.csv', sep='\t', encoding='utf-8')