In [1]:
import pandas as pd
import glob
import os

In [2]:
path = r'C:\Users\mdlin\Documents\Github\Portland-Crime\data'

In [3]:
# Grab all csvs from folder and concat into one dataframe.
all_files = glob.glob(os.path.join(path, "*.csv"))
df = pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True)

# Convert ReportDate from object to DateTime so we can check min/max.
df['ReportDate'] = pd.to_datetime(df['ReportDate'])

# Order by date and reset index.
df = df.sort_values(by='ReportDate', ascending=True)
df = df.reset_index(drop=True)

In [4]:
# Check import size/dates.
rows = str(df.shape)
min = str(df['ReportDate'].min())
max = str(df['ReportDate'].max())

print ("Df Shape: " + rows + "\nMin Date: " + min + "\nMax Date: " + max)

Df Shape: (999830, 15)
Min Date: 2015-05-01 00:00:00
Max Date: 2023-06-30 00:00:00

In [5]:
df.head()

,Address,CaseNumber,CrimeAgainst,Neighborhood,OccurDate,OccurTime,OffenseCategory,OffenseType,OpenDataLat,OpenDataLon,OpenDataX,OpenDataY,ReportDate,OffenseCount,\tAddress\tCaseNumber\tCrimeAgainst\tNeighborhood\tOccurDate\tOccurTime\tOffenseCategory\tOffenseType\tOpenDataLat\tOpenDataLon\tOpenDataX\tOpenDataY\tReportDate\tOffenseCount
0,NaN,15-X4762771,Person,NaN,9/20/2014,1200.0,Sex Offenses,Statutory Rape,NaN,NaN,NaN,NaN,2015-05-01,1.0,NaN
1,4500 BLOCK OF N LOMBARD ST,15-142953,Property,University Park,4/30/2015,2200.0,Vandalism,Vandalism,45.578862,-122.714336,7635200.0,704910.0,2015-05-01,1.0,NaN
2,4400 BLOCK OF SE 101ST AVE,15-654386,Property,Lents,4/30/2015,1530.0,Vandalism,Vandalism,45.490091,-122.559747,7673943.0,671507.0,2015-05-01,1.0,NaN
3,4400 BLOCK OF SE 99TH AVE,15-143033,Person,Lents,5/1/2015,1042.0,Assault Offenses,Simple Assault,45.490114,-122.562158,7673325.0,671531.0,2015-05-01,1.0,NaN
4,4200 BLOCK OF SE 15TH AVE,15-143277,Property,Brooklyn,4/30/2015,2000.0,Larceny Offenses,Theft From Motor Vehicle,45.492365,-122.650311,7650748.0,672941.0,2015-05-01,1.0,NaN

In [6]:
df.to_csv('./data/output.csv', sep='\t', encoding='utf-8')